[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
uwsgi = "*"
python-dotenv = "*"
pymysql = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-rest-swagger = "*"
django-filter = "*"
django-compressor = "*"
pillow = "*"
channels-redis = "*"
channels = "*"

[dev-packages]
httpie = "*"

[requires]
python_version = "3.6"
