{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  {% compress css %}
  <link rel="stylesheet" href="{% static 'main/css/base/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
  {% block additional_css %}
    {{ additional_css }}
  {% endblock %}
  {% endcompress %}
</head>
<body>

  {% block header %}
    {{ header }}
    <header>
      {% include 'main/base/header.html' %}
    </header>
  {% endblock %}

  {% block main %}
    {{ main }}
    <main class="mx-auto text-center">
      {% if messages %}
      <div class="message">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center mb-0 rounded-0 alert-dismissible fade show">
          {{ message }}
          <button class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% block content %}
        {{ content }}
      {% endblock %}
    </main>
  {% endblock %}

  {% block footer %}
   {{ footer }}
    <footer>
      {% include 'main/base/footer.html' %}
    </footer>
  {% endblock %}


  {% compress js %}
  <script src="{% static 'main/js/base/jquery.min.js' %}"></script>
  <script src="{% static 'main/js/base/bootstrap.min.js' %}"></script>
  <script src="{% static 'main/js/base/vue.min.js' %}"></script>
  {% block additional_js %}
    {{ additional_js }}
  {% endblock %}
  {% endcompress %}

</body>
</html>
